{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astra Linux</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">

    <script defer src="{% static 'accounts/js/scripts.js' %}"></script>
</head>
<body class="fade-in">
<div class="container">
    <img src="{% static 'accounts/img/Радость.png' %}" alt="Персонаж" class="character">
    <h2>Astra-Linux – это надёжная платформа для защиты информационных систем, а участникам предстоит пройти серию
        простых, интерактивных заданий, чтобы лучше познакомиться с её возможностями.</h2>
    <a href="{% url 'login' %}" class="btn transition">→</a>
</div>
<div class="circle top-right"></div>
<div class="circle bottom-left"></div>
<div class="square top-left"></div>
<div class="square bottom-right"></div>
</body>
</html>
