{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Квест по Astra Linux</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'accounts/img/Чмок.png' %}" alt="Звездочка" class="star">
        <h1>Тебя ждёт 7 этапов</h1>
        <ul>
            <li><span class="bullet"></span> Знакомство с историей Astra Linux</li>
            <li><span class="bullet"></span> Основы работы с командной строкой</li>
            <li><span class="bullet"></span> Работа с файлами и текстовыми редакторами</li>
            <li><span class="bullet"></span> Основы безопасности</li>
            <li><span class="bullet"></span> Изучение конфигурационных файлов</li>
            <li><span class="bullet"></span> Простая оптимизация системы</li>
            <li><span class="bullet"></span> Финальное задание - Мини-проект</li>
        </ul>
        <a href="{% url 'map' %}" class="btn transition">→</a>
    </div>
<div class="circle top-right"></div>
<div class="circle bottom-left"></div>
<div class="square top-left"></div>
<div class="square bottom-right"></div>
</body>
</html>
